
# dependencies
/frontend_code/node_modules
/frontend_code/.pnp
/frontend_code/.pnp.js

/backend_code/node_modules
/backend_code/package-lock.json
# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
